<h1> James' Guide to Fly Fishing: </h1>
<h2> One guys attempt to learn to fly fish. </h2>

<p> The primary purspose for this page is to demonstrate my first attempt at learning Rails! And to create a neat way to catalog my process of learning to fly fish. </p>
