<div class="jumbotron center">
	<h1>Welcome to James' Excellent Fly Fishing Adventures</h1>
<p> Click here to  
	<%= link_to "Register", "#", class: "btn btn-primary"  %>
	 or
	<%= link_to "Login", "#", class: "btn btn-danger"  %>
	 !

</p>
</div>

