<div class="jumbotron center">
	<h1>Welcome to James' Excellent Fly Fishing Adventures</h1>
<% if user_signed_in? %> Hope you enjoy your adventure!
<% else %>
<p> Click here to  
	<%= link_to "Register", new_user_registration_path, class: "btn btn-primary"  %>
	 or
	<%= link_to "Login", new_user_session_path, class: "btn btn-danger"  %>
	 !
</p>
<% end %>
</div>

